<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{title}}</title>
</head>
<body>
  <div>
    <h1>{{title}}</h1>

    {{>header}}

    <h2>Hello there!!!</h2>
    <h3>This is a web app made using node, express and handlebars on replit.</h3>
    <form action="/weather">
      <label for="location">To get weather - </label>
      <input type="text" placeholder="Enter Locaton Here" name="location">
      <button type="submit">Go!</button>
    </form>
    <p><b id="p1">
      
    </b></p>
    <ul id="p2" style="list-style: none">
      
    </ul>
  </div>

  {{>footer}}

  <script src="/js/app.js"></script>
</body>
</html>