* {
  box-sizing: border-box;
  font-family: Arial;
  padding: 0;
  text-align:start;
}

img {
  width: 100px;
  border-radius: 45%;
}

body {
  max-width: 450px;
  margin: 5px auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgba(169, 169, 169, 0.5);
}

nav>ul {
  list-style: none;
  display: inline-flex;
}

nav a {
  text-decoration: none;
  color: maroon;
  margin: 10px;
}

nav a:hover {
  border-bottom: 1px solid maroon;
}

h1 {
  color: #5b5b5b;
  margin: 10px;
}

footer {
  color: gray;
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid rgba(169, 169, 169, 0.5);
  margin-bottom:0;
}